/* COMMUN A TOUTE LA PAGE */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    background-image: url(../Portfolio-FF/images/backround.jpg);
    background-size: cover;
    background-position: center;

}

.fond-commun {
    border-radius: 35px;
    background-color: #ffffff;
    border: outset #555555 6px;
}

h1 {
    font-family: "Playball", Georgia, serif; 
    font-size: 60px;
    font-weight: bold;
    color: rgb(184, 3, 134);
}

h2 {
    font-family: "Playball", Georgia, serif; 
    font-size: 45px;
    font-weight: bold;
    color: #000000;
}

h3 {
    font-family: "Lobster two", Georgia, serif;
    font-size: 45px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    border: #555555 outset 5px;
    border-radius: 35px;
    background-color: #919191; 
}

.title {
    border-radius: 50px;  
    width: 40vw;
}

p {
    font-family: "Lobster two", Georgia, serif;
    font-size: 25px;
    color: #000000;
}

span {
    font-weight: bold;
}

 ul {
    list-style: none;
    padding: 0;
    font-family: "Lobster two", Georgia, serif;
    font-size: 25px;
    color: #000000;
}


/* NAVBAR */
/* ================================================================= */

.navbar {
    background-color: #919191;
    height: 20vh;
}

nav img {
    height: 20vh;
}

.navbar-nav a {
    color: #000000;
    font-family: "Lobster two", Georgia, serif;
    font-size: 35px;
    border: outset #ffffff 5px;
    border-radius: 35px;
}

.navbar-nav a:hover {
    border-style: inset;
    transform: scale(1.2);
    transition: 1.5s;
}

.btn {
    font-size: 40px;
    background-color: #ffffff;
    border: solid #555555 2px;
}


/* BIENVENU */
/* ================================================================= */

#bienvenu {
    text-align: center;
}

#bienvenu .fond-commun {
    width: 40vw;
}


/* A PROPOS */
/* ================================================================= */

#photo-portrait {
    width: 18vw;
    border-radius: 35px;
    border: outset #555555 6px;
}

.presentation {
    text-align: left;
}

#a-propos h2 {
    color: rgb(184, 3, 134); 
}

.it {
    font-style: italic;
    font-weight: initial;
}


/* PROJETS */
/* ================================================================= */

.projet {
    background-color: #555555;
    border-radius: 32px;
    text-align: center;
    font-weight: bold;
}

.projet p {
    color: #ffffff;
}

.projet a img {
    width: 15vw;
    border-radius: 35px;
    border: outset #000000 6px;
    filter: grayscale(1);
}

.projet a img:hover {
    border: outset #ffffff 6px;
    filter: none;
    transform: scale(1.2);
    transition: 1.5s;
}

.img-flooop {
    background-color: #ffffff;
}

.logo-competence {
    width: 5vw;
    border-radius: 100%;
    border: solid #000000 2px;
}


/* COMPETENCES */
/* ================================================================= */


/* ++++++! CERCLE DE PROGRESSION !+++++ */

/* vvvv!!!! Cercle de fond !!!!vvvv */
.progress-circle {
    position: relative;
    box-sizing: border-box;
    font-size: 15em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: .15em solid black;
    background-image: url(images/logos-compétences/html5.png);
    background-size: cover;
}

.progress-circle-2 {
    background-image: url(images/logos-compétences/css3.png);

}

/* vvvv!!!! Fenetre d'affichage !!!!vvvv */
.progress-masque {
    position: absolute;
    width: 1em;
    height: 1em;
    left: -.15em;
    top: -.15em;
    clip: rect(0, 1em, 1em, .5em);
}

.progress-circle[data-value^='5']:not([data-value='5']):not([data-value^='5.']) .progress-masque,
.progress-circle[data-value^='6']:not([data-value='6']):not([data-value^='6.']) .progress-masque,
.progress-circle[data-value^='7']:not([data-value='7']):not([data-value^='7.']) .progress-masque,
.progress-circle[data-value^='8']:not([data-value='8']):not([data-value^='8.']) .progress-masque,
.progress-circle[data-value^='9']:not([data-value='9']):not([data-value^='9.']) .progress-masque,
.progress-circle[data-value^='100'] .progress-masque {
  clip: rect(auto, auto, auto, auto);
}

/* vvvv!!!! Barre de progression !!!!vvvv */
.progress-barre,
.progress-sup50 {
    position: absolute;
    box-sizing: border-box;
    border-width: .15em;
    border-style: double;
    border-color: #555555;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    clip: rect(0, .5em, 1em, 0)
}

/* permet de visualiser la valeur de la progression */
.progress-circle[data-value="75"]    .progress-barre,
.progress-circle[data-value="75."]   .progress-barre,
.progress-circle[data-value="75.0"]  .progress-barre {transform: rotate(270.00deg)}

/* vvvv!!!! Barre sup ou = a 50% !!!!vvvv */
.progress-sup50 {
    display: none;
    clip: rect(0, 1em, 1em, .5em);
}

.progress-circle[data-value^='7']:not([data-value='7']):not([data-value^='7.']) .progress-sup50,
.progress-circle[data-value^='8']:not([data-value='8']):not([data-value^='8.']) .progress-sup50,
.progress-circle[data-value^='9']:not([data-value='9']):not([data-value^='9.']) .progress-sup50,
.progress-circle[data-value^='100'] .progress-sup50 {
    display:block;
}

.cercles p {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}


/* CONTACEZ-MOI */
/* ================================================================= */

.resaux {
    text-align: center;
}

.resaux a i {
    color: rgb(184, 3, 134);
    font-size: 120px;
}


.infos-contact ul {
    height: 20vh;
    width: 18vw;
    border: #919191 inset 3px;
    border-radius: 35px;
    background-color: #ffffff;
}

.phone-mail i {
    color: #555555;
    font-size: 40px;
}

.localisation i {
    color: rgb(184, 3, 134);
    font-size: 60px;
}

/* FOOTER */
/* ================================================================= */

footer {
    height:15vh;
    background-color: #919191;
    color: #000000;
}

footer span {
    font-family: "Playball", Georgia, serif;
}

/* ======================================================================
MEDIA QUERIES
====================================================================== */


/* @media screen and (max-width: 768px) { */
